@import '../variables.scss';

.App {
  cursor: default;
  padding: 0 16px;
  @media (min-width: 375px){
    padding: 16px 16px 0;
  }
  @media (min-width: 410px){
    padding: 24px 16px 0;
  }

  @media (min-width: 640px){
    padding: 0;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 20px;
  }
  &__heading{
    color: $blue;
    margin: 24px 0;
    font-size: 32px;
    text-align: center;
    @media (min-width: 375px) and (min-height: 800px){
        margin: 48px 0;
      }
    @media (min-width: 640px){
      margin: 0 0 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: start;
      background: $gray;
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 1;
    }
}
}