@import '../variables.scss';

.fixed-player{
    position: fixed;
    left: 0;
    width: 100%;
    background: $gray;
    transition: .3s;
    & > :nth-child(1){
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        @media (min-width: 360px){
            height: 80px;
        }
    }
    &__artist{
        color: $lightgray;
        font-size: 8px;
        @media (min-width: 360px){
            font-size: 9px;
        }
        @media (min-width: 410px){
            font-size: 10px;
        }
    }
    &__button{
        position: absolute;
        top: 25%;
        // transform: translateY(-100%);
        right: 16px;
        font-size: 16px;
        background: none;
        border: none;
        color: $white;
        outline: none;
    }
    &__heart {
        background: none;
        border: none;
        outline: none;
        color: $blue;
        position: absolute;
        top: 25%;
        // transform: translateY(-100%);
        font-size: 16px;
        // padding: 2px;
        right: 48px;
        
    }
    &__hide {
        
        bottom: -20%
    }
    &__image{
        width: 64px;
        height: 64px;
        @media(min-width: 360px){
            height: 100%;
            width: auto;
        }
    }
    &__info{
        margin-left: 8px;
    }
    &__progress-container{
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        background: $lightgray;
        & > div {
            background: $blue;
            height: 2px;
        }
        
    }
    &__show{
        bottom: 0;
    }
  
    &__title{
        color: $white;
        font-size: 9px;
        padding-right: 72px;
        @media (min-width: 360px){
            font-size: 10px;
        }
        @media (min-width: 410px){
            font-size: 11px;
        }
    }
    
}

.playlists{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 32px;
    border-top: 1px solid black;
    & > button {
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 50%;
        // background: $gray;
        
        border: none;
        outline: none;
        & > span {
            // margin-right: 8px;
            font-size: 10px;
        }
    }
    &__chosen{
        background: $darkblue;
        color: $white;
    }
    &__no-chosen{
         background: $gray;
         color: $white;
    }
}