@import '../variables.scss';

.songs{
    padding: 0 0 100px 0;
    @media (min-width: 360px){
        padding: 0 0 128px 0;
    }
    @media (min-width: 768px){
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 2;
      }
    &__heading{
        color: $blue;
        padding: 0 0 16px;
        font-size: 22px;
    }
    &__list{
        list-style: none;
    }
}



